// Load process parameters
includeConfig "${baseDir}/conf/base.config"
// Load ressources configuration
includeConfig "${baseDir}/conf/ressources.config"

// Execution profiles
profiles {

	custom {
		includeConfig "${baseDir}/conf/custom.config"
		includeConfig "${baseDir}/conf/reports.config"
	}

	test {
		includeConfig "${baseDir}/conf/test.config"
		includeConfig "${baseDir}/conf/reports.config"
	}
	
	singularity {
		singularity.autoMounts = true
		singularity.enabled = true
		
		process { 
			withLabel: seqkit {
				container = "${baseDir}/containers/seqkit_2.6.1.sif"
			}
			withLabel: interproscan {
				container = "${baseDir}/containers/interproscan_5.65-97.0.sif"
			}
		}

	}
}

